.test {
  border: 1px solid #4923b5;
  border-radius: 45px;
  padding: 3rem 2.5rem;
  /* display: inline-block; */

  /* background-color:blueviolet; */
  width: 80%;
  margin-left: auto;
}

.padlock {
  margin-top: -1.5rem;
  /* transform: scale(1.1); */
  /* width: 6.5rem; */
  /* background-color: green; */
}

.padlock-text {
  padding-left: 1rem;
}

.kontakt-mainpage-regular-font {
  font: 1.5rem/2.25rem "Nunito Sans", sans-serif;
  /* background-color: greenyellow; */
}

.kontakt-button {
  color: white;
  font: 600 1rem Inter, sans-serif;
  letter-spacing: 0.02rem;
  background-color: #aaaaac;
  border-radius: 30rem;
  border: none;
  padding: 1rem 2.5rem;
  margin-top: 1rem;
}

.hero-button {
  color: white;
  font: 600 1.125rem Inter, sans-serif;
  background-color: #4923b5;
  padding: 1rem 2.5rem;
  border-radius: 30rem;
  border-color: transparent;
  transition: 0.2s;
}

.hero-button:hover {
  background-color: pink;
  transition: 0.2s;
}

.envelope-text {
  font: 1.125rem "Nunito Sans", sans-serif;
  margin-top: 1.25rem;
  margin-bottom: 3.75rem;
}
.envelope {
  margin-right: 1.25rem;
}

/* @media (max-width: 992px) {
    .hero-button {
      font: 600 1rem Inter, sans-serif;
      padding: 0.75rem 2rem;
      transition: 0.1s;
    }
  
    .hero-button:hover {
      transition: 0.1s;
    }
  } */

/* przejsciowy rozmiar */
/* @media (min-width: 992px) and (max-width: 1200px) {
    .hero-button {
      font: 600 1rem Inter, sans-serif;
      padding: 0.75rem 2rem;
      transition: 0.15s;
    }
  
    .hero-button:hover {
      transition: 0.15s;
    }
  } */

.custom-accordion {
  /* purple 25% card bg */
  background: #f8f7fc;

  /* purple 60% card border */
  border: 1.5px solid #afacd3;
  border-radius: 1.5rem;

  overflow: hidden;

  margin: 2.5rem 0;
}
.panel {
  max-height: 0px;
  transition: all 0.15s ease-out;

  box-sizing: border-box;
}
.custom-accordion-button {
  padding: 1.5rem 2rem;
  text-align: left;
  font: 700 2rem/2.5rem Inter, sans-serif;
  background: #f8f7fc;
  color: #514c9a;
  width: 100%;
  border: none;
  transition: all 0.2s ease-in;
  border-radius: 1.5rem;

  /* arrow */
  position: relative;
}
.custom-accordion-button:hover {
  background: pink;
  transition: all 0.2s ease-in;
}
.custom-accordion-text {
  padding: 0.5rem 6rem 0.5rem 1.5rem;
}

.custom-accordion-button:after {
  position: absolute;
  top: calc(50% - 1rem);
  right: 2rem;
  content: "";
  background: url("./images/accordion_arrow.svg") no-repeat center;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  transition: all 0.2s ease-out;
}
.custom-accordion-button.active:after {
  transform: rotate(180deg);
  transition: all 0.2s ease-out;
}

/* .custom-accordion-button:after {
  content: "";
  width: 30px;
  height: 30px;
  background: red
    url("http://www.gentleface.com/i/free_toolbar_icons_16x16_black.png")
    no-repeat -30px -50px fixed;
  top: 10px;
  right: 5px;
  position: absolute;
  display: inline-block;
} */

/* .custom-accordion-button::after {
  content: "";
  width: 30px;
  height: 30px;
  background: red;
  top: 0px;
  right: 0px;
  position: absolute;
  display: inline-block;
} */

.kontakt-mapa {
  width: 100%;
}
